<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/home.css"/>
    </head>
    <body>
        <div>
            <h1>Seller Registration App</h1>
            <a href="/signup">Signup</a>
            <a href="/login">Login</a>
        </div>
       
    </body>
</html>