/* style.css */

body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color:#1864ab;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color:#1864ab;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color:#339af0;
  }
  
  p {
    text-align: center;
    margin-top: 20px;
  }
  
  a {
    color: #1864ab;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  